@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray: #f0f0f0;
  --darkGray: #c4c4c4;
  --black: #1d1d1d;
  --white: #fff;
  --main-font-size: 16px;
  --footer-height: "";
  --header-height: "";
  --container-p-mobile: 3rem 0.75rem;
  --container-p-desktop: 1.25rem;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "EB Garamond12";
  src: url("/fonts/EBGaramond12-Regular.otf") format("opentype");
  font-weight: normal;
}

html {
  font-family: "Satoshi", sans-serif;
  height: 100%;
}

body {
  font-size: var(--main-font-size);
}

p {
  font-family: "EB Garamond12", serif;
}

a {
  cursor: pointer;
}
