@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "EB Garamond12";
  src: url("/fonts/EBGaramond12-Regular.otf") format("opentype");
  font-weight: normal;
}

:root {
  --gray: #f0f0f0;
  --darkGray: #c4c4c4;
  --black: #1d1d1d;
  --white: #fff;
  --darkPink: #e41b4a;
  --darkBlue: #0b24f5;
  --darkPurple: #724ac6;
  --main-font-size: 16px;
  --footer-height: "";
  --header-height: "";

  --border: 1px solid var(--color-black);
  --line-gap: 0.5rem;
  --main-padding: calc(var(--main-font-size) / 1.5);
}

@media screen and (min-width: 768px) {
  :root {
    --main-padding: calc(var(--main-font-size) / 1.5);
    --main-font-size: 20px;
    --aspect-ratio: 3/2;
  }
}

html {
  height: 100%;
}

body {
  font-size: var(--main-font-size);
  font-family: "Satoshi", sans-serif;
  /* max-width: 120rem;
  margin: 0 auto; */
  margin: auto;
  overflow-x: hidden;
}

main {
  background-size: 100% 100%;
  display: block;
  padding: 0;
}

h3 {
  font-size: 1.75rem;
  font-weight: 900;
  line-height: normal;
}

a {
  cursor: pointer;
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid var(--darkPink);
  outline-offset: 3px;
}
button:focus:not(:focus-visible),
a:focus:not(:focus-visible) {
  outline: none;
}

/* Grids */

.grid-projects,
.grid-intro,
.project {
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

.grid-intro,
.grid-projects {
  padding: 0;
  gap: 3px;
  position: relative;
  width: 100%;
  margin-left: 0;
  display: grid;
}

.grid-intro {
  grid-template-columns: 1fr;
}

.grid-projects {
  grid-template-columns: 1fr 1fr;
}

.grid-intro-card,
.grid-projects-card {
  border: none;
  padding: 1rem;
  position: relative;
}

/* INTRO GRID */

.grid-intro-card::after {
  position: absolute;
  content: "";
  background-color: var(--darkBlue);
  z-index: 1;
  pointer-events: none;
  bottom: -1px;
  top: unset;
  right: unset;
  left: calc(var(--line-gap) + 1px);
  width: calc(100% - calc(var(--line-gap) + 12px));
  height: 1px;
}

@media screen and (min-width: 976px) and (max-width: 1598px) {
  .grid-intro-card:nth-child(odd)::before {
    position: absolute;
    content: "";
    background-color: var(--darkBlue);
    width: 1px;
    height: calc(100% - calc(var(--line-gap) + 9px));
    top: calc(var(--line-gap) + 1px);
    right: -1px;
    z-index: 1;
    pointer-events: none;
  }
}

/* GRID PROJECTS */

.grid-projects-card::before,
.grid-projects-card::after {
  position: absolute;
  content: "";
  background-color: var(--darkBlue);
  z-index: 1;
  pointer-events: none;
}

.grid-projects-card:nth-child(odd)::before {
  width: 1px;
  height: calc(100% - calc(var(--line-gap) + 9px));
  top: calc(var(--line-gap) + 1px);
  right: -1px;
}

.grid-projects-card::after {
  bottom: -1px;
  left: calc(var(--line-gap) + 1px);
  width: calc(100% - calc(var(--line-gap) + 12px));
  height: 1px;
}

@media screen and (min-width: 767px) {
  .grid-projects,
  .grid-projects-card {
    position: relative;
    padding: 0;
  }

  .grid-projects {
    gap: 3px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    border-bottom: thin solid var(--color-black);
  }

  .grid-projects::before,
  .grid-projects::after {
    content: "";
    position: absolute;
    border: var(--line-gap) solid var(--white);
    top: 1px;
    left: 0;
    width: calc(100% + 2px);
    height: calc(100% - 2px);
    z-index: 1;
    pointer-events: none;
    box-sizing: border-box;
  }

  .grid-projects-card {
    padding: var(--main-padding);
    border-bottom: var(--border);
  }

  .grid-projects-card::before,
  .grid-projects-card::after {
    content: "";
    position: absolute;
    background-color: var(--darkBlue);
    z-index: 1;
    pointer-events: none;
    width: 1px;
    height: calc(100% - calc(var(--line-gap) * 2));
    top: calc(var(--line-gap) + 1px);
    right: -1px;
  }

  .grid-projects-card::after {
    bottom: -1px;
    top: unset;
    right: unset;
    left: calc(var(--line-gap) + 1px);
    width: calc(100% - calc(var(--line-gap) + 12px));
    height: 1px;
  }
}

/* target :nth-child() */
.tech-list li:nth-child(3),
.tech-list li:nth-child(5),
.tech-list li:nth-child(10),
.skill-list-colored li:nth-child(1),
.skill-list-colored li:nth-child(3),
.skill-list-colored li:nth-child(10) {
  color: var(--white);
  padding: 0 0.5rem;
}

.tech-list li:nth-child(3) {
  background-color: var(--darkPink);
}
.tech-list li:nth-child(5) {
  background-color: var(--darkBlue);
}
.tech-list li:nth-child(10) {
  background-color: var(--darkPurple);
}

.skill-list-colored li:nth-child(1) {
  background-color: var(--darkPink);
}
.skill-list-colored li:nth-child(3) {
  background-color: var(--darkBlue);
}
.skill-list-colored li:nth-child(10) {
  background-color: var(--darkPurple);
}

/* target :last-child */
.skill-list li::after {
  content: "•";
  color: var(--darkBlue);

  margin: 0 0.5rem;
  font-size: 1.25rem;
}

.skill-list li:last-child:after {
  visibility: hidden;
}

/* modal */

.popup-overlay {
  background: rgba(11, 36, 245, 0.5);
}

.popup-content {
  position: relative;
  top: 0rem;
  bottom: 0rem;
  margin-top: unset !important;
  max-width: 100%;
  width: 100%;
  pointer-events: auto;
  padding: 1rem;
  animation: 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards a;
  -webkit-animation: 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards a;
  background-color: var(--white);
  color: var(--black);
  min-height: 100vh;
}

@media (min-width: 768px) {
  .popup-content {
    top: 1rem;
    bottom: 1rem;
    width: 100%;
    max-width: 60rem;
    min-height: unset;
  }
}

/* Swiper */

.swiper {
  height: 100% !important;
}

.swiper-wrapper {
  max-height: 100% !important;
}

.swiper-slide {
  display: flex !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: flex !important;
  width: 50% !important;
  height: 100% !important;
  top: 1.2rem !important;
  right: 0 !important;
  cursor: pointer;
}

.swiper-button-next {
  justify-content: end !important;
}

.swiper-button-prev {
  left: 0 !important;
  right: auto;
  justify-content: start !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--darkBlue);
  font-size: 30px !important;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
  border-radius: 50%;
  margin-left: var(--main-gap);
}

/* Spinner */

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid var(--darkBlue);
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
